:root {
  --cor-primaria: red;
  --fundo-1: #f7f7f7;
  --fundo-2: #ffffff;
  --texto: #000000;
  --subtitulo: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --fundo-1: #111111;
    --fundo-2: #000000;
    --texto: #ffffff;
    --subtitulo: rgba(255, 255, 255, 0.2);
  }
}

body {
  display: grid;
  justify-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--fundo-1);
  gap: 2rem;
  margin: 0px;
  margin-top: 3rem;
  color: var(--texto);
}
main {
  position: relative;
}
main::before {
  content: "";
  width: 3rem;
  height: 4px;
  background: var(--cor-primaria);
  position: absolute;
  justify-self: center;
  top: 3rem;
}

header {
  justify-content: center;
}
img {
  max-width: 100%;
  display: block;
}
h4 {
  margin: 0px;
}
.titulo {
  padding: 2rem;
  display: block;
}
h3 {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: right;
  padding: 2rem;
  color: var(--subtitulo);
  align-self: center;
}
.navegar {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.navegar li a {
  text-decoration: none;
  padding: 1rem;
  background: var(--fundo-2);
  border-radius: 4px;
  color: var(--texto);
}
.conteudo {
  display: grid;
  text-align: right;
  padding: 2rem;
  background: var(--fundo-2);
  align-content: center;
  justify-items: end;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.button {
  background: var(--cor-primaria);
  text-decoration: none;
  color: var(--fundo-2);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
}
a:hover {
  background: var(--fundo-2);
  border: 2px solid var(--cor-primaria);
  color: var(--cor-primaria);
}
.vantagem {
  background: var(--fundo-2);

  list-style: none;
  margin: 0px;
  padding: 2rem;
}
.vantagem-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1rem;
  padding: 20px;
}
.vantagem-item:hover {
  border-left: 0.25rem var(--cor-primaria) solid;
}
.vantagem-item p {
  grid-column: 2;
}
li:nth-child(odd) {
  background: var(--fundo-1);
}

.rodape {
  background: var(--fundo-2);
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 2rem;
}
.subtitulo {
  background-image: url(img/onda.svg);
}
